.navbar {
    transition: all 0.4s ease-in-out;
}

.navbar-background {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.xl-text {
    font-size: 75px;
}

.btn-outline-secondary {
    color: var(--bs-secondary);
}

.btn-outline-secondary {
    &:hover {
        color: #fff;
    }
}

.header .decoration-star {
    top: 80px;
    left: -200px;
    width: 500px;
    opacity: 0.7;
}

.header .decoration-star-2 {
    top: 80px;
    right: -200px;
    width: 500px;
    opacity: 0.7;
}

.details .decoration-star {
    left: -200px;
    width: 500px;
}

.details-2 .decoration-star {
    right: -200px;
    width: 500px;
}

// .details .decoration-star-2 {
//     right: -200px;
//     width: 500px;
// }

.contact .decoration-star {
    left: -300px;
    width: 600px;
}

.to-top-btn {
    position: fixed;
    z-index: 20;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: var(--bs-dark);
    cursor: pointer;
    transition: 
        background-color 0.2s ease-in-out,
        opacity  0.5s ease-in-out;
}

.to-top-btn {
    &:hover {
        background-color: #4555d2;
    }
}

.to-top-btn {
    img {
        margin-bottom: 0.25rem;
        width: 24px;
    }
}

.show {
    opacity: 1;
}

@media (max-width: 992px) {
    .xl-text {
        font-size: 50px;
    }

    .navbar {
        .btn-outline-secondary {
            margin-top: 20px;
        }
    }

    .header {
        margin-top: 0px !important;
        text-align: center;
    }

    .header .decoration-star {
        left: -150px;
        width: 360px;
    }
    
    .header .decoration-star-2 {
        right: -150px;
        width: 360px;
    }

    .header .img-container {
        margin-top: 30px;
    }

    .services .col-md-4 {
        border-bottom: 1px #ccc solid;
        margin: 10px 0px 30px;
    }

    .services .col-md-4:last-child {
        margin: 10px 0px 0px;
    }

    .details-2 {
        margin-top: 20px !important;
    }

    .details-2 .decoration-star {
        top: 300px;
    }

    .contact .decoration-star {
        left: -150px;
        width: 360px;
    }
}

@media (max-width: 576px) {
    .xl-text {
        font-size: 45px;
    }

    .navbar {
        .btn-outline-secondary {
            margin-top: 20px;
        }
    }

    .header {
        margin-top: 0px !important;
        text-align: center;
    }

    .header .decoration-star {
        left: -100px;
        width: 250px;
    }
    
    .header .decoration-star-2 {
        right: -100px;
        width: 250px;
    }

    .header .img-container {
        margin-top: 25px;
    }
}